.header{
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  padding: 24px 16px 16px;
}

.fixed {
  position: fixed;
  background-color: white;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}