.header{
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 24px;
  width: 100%;
  padding: 24px 16px 16px;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 30px 0 rgba(27, 39, 47, 0.05), 1px 1px 2px 0 rgba(27, 39, 47, 0.05);
  z-index: 100;
}