@import "src/core/styles/common";
.titleWrapper {
  color: #1B272F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  border-bottom: 1px solid #D9D9D9;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 18px;
}

.generalInfoWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 16px;
  margin-top: 14px;
}

.description {
  padding-bottom: 18px;
  border-bottom: 1px solid #D9D9D9;
}

.summary {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

.flatModel {
  color: #127CCA;
  border-bottom: 1px solid #127CCA;
  width: fit-content;
  cursor: pointer;
}

.prices {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  border-bottom: 1px solid #D9D9D9;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 16px;
  margin-top: 16px;
}

.discount {
  margin-top: 16px;
}

.discountValue {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-gap: 1px;
  margin-top: 16px;
  background-color: #D7DBDF;
  border: 1px solid #D7DBDF;
}

.discountText {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #1B272F;
  background: $white;
  padding-left: 8px;
}

.discountHeader {
  background: #F8F8F9;
}

.dealInfo {
  display: flex;
  gap: 16px;
  margin-top: 18px;
}

.dealGeneralInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: white;
}

.phone {
  color: #1B272F;
}

.document {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dealAdditionalInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: -4px;
}

.stats{
  padding-top: 20px;
  display: flex;
  gap: 20px
}

.analogues{
  color: #127CCA;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #127CCA;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
}

.buttonsWrapper {
  display: flex;
  gap: 12px;
  margin-top: 18px;
  height: 28px;
}

.button {
  border-radius: 4px !important;
  background: #127CCA !important;
  color: $white !important;
  text-align: center !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}