.wrapper{
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 85%;
  display: flex;
  thead{
    width: 100%;
    display: flex;
    tr{
      width: 100%;
      display: flex;
      justify-content: space-between;
      th{
        border: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child{
          min-width: 130px;
        }
      }
    }
  }
  // tr{
  //   :first-child {
  //     width: 150px!important;
  //   }
  //   :nth-child(2){
  //     width: 150px!important;
  //   }
  //   :nth-child(3){
  //     width: 150px!important;
  //   }
  //   :nth-child(4){
  //     width: 150px!important;
  //   }
  //   :nth-child(5){
  //     width: 150px!important;
  //   }
  //   :nth-child(6){
  //     width: 150px!important;
  //   }
  //   :nth-child(7){
  //     width: 150px!important;
  //   }
  //   :nth-child(8){
  //     width: 150px!important;
  //   }
  //   :nth-child(9){
  //     width: 150px!important;
  //   }
  //   :nth-child(10){
  //     width: 150px!important;
  //   }
  //   :nth-child(11){
  //     width: 150px!important;
  //   }
  //   :nth-child(12){
  //     width: 150px!important;
  //   }
  //   :nth-child(13){
  //     width: 150px!important;
  //   }
  //   :nth-child(14){
  //     width: 150px!important;
  //   }
  //   :nth-child(15){
  //     width: 150px!important;
  //   }
  //   :nth-child(16){
  //     width: 150px!important;
  //   }
  // }
  th{
    width: 130px;
    padding: 2px 8px!important;
  }
  td{
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0!important;
    // height: 36px!important;
    white-space: nowrap;
  }
}

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px!important;
}

.opacity{
  display: none;
}

.opacity + tr{
  display: none;
}

.drawer{
  :global(.MuiDrawer-paper){
    top: 30px;
    border-top-left-radius: 16px;
  }
}

.list{
  width: 80%;
  font-family: Ubuntu, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table_titles{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-family: Ubuntu, sans-serif;
}

.table_title{
  text-align: center;
  width: 150px;
}

.flat_view{
  height: 100px;
}

.flat_view img{
  width: 130px;
  height: 100%;
  object-fit: contain;
}

.flat_info{
  opacity: 1;
  width: 150px;
  text-align: center;
}