@import "src/core/styles/common";

.container{
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.wrapper {
  display: grid;
  grid-gap: 12px;
  margin-top: 16px;
  height: fit-content;
}

.row {
  display: grid;
  grid-gap: 10px;
}

.order {
  @include fontFamily(Ubunty);
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.24px;
  color: #63707A;
}

.rowNumber {
  align-items: flex-end;
  margin-bottom: 16px;
}

.columnNumber {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #F8F8F9;
}

.spinnerWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
