@import 'src/core/styles/common';

.disabled {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 45px;
  width: 45px;
  border-radius: 8px;
  z-index: 10;
  top: 0;
}

.drawer {
  :global(.MuiDrawer-paper) {
    top: 0px;
    // border-top-left-radius: 16px;

    overflow-x: hidden !important;
    // overflow-y: hidden !important;
  }
}

.card {
  @include fontFamily(Open Sans);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: $white;

  cursor: pointer;
  position: relative;

  border-radius: 8px;
  box-shadow: 1.189px 1.189px 2.378px 0px rgba(27, 39, 47, 0.05),
    1.189px 1.189px 35.67px 0px rgba(27, 39, 47, 0.05);

  color: #1b272f;
  transition: all 0.3s;

  &.active {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    50% {
        transform: scale(1.01);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}

.red_dot {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: #da0000;
}
