@import "src/core/styles/common";

.wrapper {
  @include fontFamily(Ubuntu);
  padding: 23px 24px 89px;
  width: 728px;
  height: 100%;
  z-index: 10;
  border-top-left-radius: 16px;
  background: $white;
  //box-shadow: 1px 1px 30px 0px rgba(27, 39, 47, 0.05), 1px 1px 2px 0px rgba(27, 39, 47, 0.05);
}

.titleWrapper {
  color: #1B272F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.statusLine {
  width: 100%;
  border-radius: 4px;
  height: 4px;
  margin: 16px 0 18px;
}

.analogues_head{
  display: flex;
  justify-content: space-between;
  button{
    border: none;
    background-color: transparent;
  }
  .analogues_titles{
    display: flex;
    align-items: center;
    .analogues_title{
      padding-left: 16px;
    }
  }
}
