@import "src/core/styles/common";

.tableCell{
  &:global(.MuiTableCell-root){
    @include fontFamily(Ubuntu);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    padding: 0;
    min-height: 22px;
    margin: auto 0;
    justify-content: center;
    border: none;
  }
}

.opacity{
  display: none !important;
}
