.wrapper{
  &:global(.MuiInputBase-root){
  width: 200px;
  color: #0b4e7e;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0;
  }
}

.wrapper {
	div[role="button"] {
		transition: all 0.3s;
	}
	&:hover {
		div[role="button"] {
			transform: translateX(3px);
		}
	}
}