@import "src/core/styles/common";
.wrapper{
  display: flex;
  gap: 12px;
  margin-top: 0px;
  width: 100%;
}

.leftSideFilter{
  width: 100%;
}

.selects{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
}

.metrics{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 25px;
}

.button{
  min-width: 78px;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.bar{
  width: 200px;
  @include fontFamily(Ubuntu);
  display: flex;
  flex-direction: column;
  gap:10px;
  // width: 350px;
  margin-left: 30px;
}

.buttons{
  display: flex;
  gap: 12px
}

.resetBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 22px;
  background: #f8f8f9;
  border: 1px solid #127cca;
  border-radius: 10px;
  color: #127cca;
  font-size: 16px;
  svg{
    margin-left: 8px;
    path{
      fill: #fff;;
    }
  }
}

.filterBtn{
  display: flex;
  align-items: center;
  padding: 4px 20px;
  background: #f8f8f9;
  border: 1px solid #127cca;
  border-radius: 10px;
  color: #127cca;
}