@import 'src/core/styles/common';
.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 0px;
  width: 100%;
}

.leftSideFilter {
  width: 100%;
}

.selects {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 12px;
}

.metrics {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 25px;
}

.button {
  min-width: 78px;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.bar {
  min-width: 220px;
  @include fontFamily(Ubuntu);
  display: flex;
  flex-direction: column;
  gap: 10px;
  // width: 350px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.resetBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  background: #f8f8f9;
  border: 1px solid #127cca;
  border-radius: 10px;
  color: #127cca;
  font-size: 14px;
  svg {
    margin-left: 8px;
    path {
      fill: #fff;
    }
  }
}

.filterBtn {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #f8f8f9;
  border: 1px solid #127cca;
  border-radius: 10px;
  color: #127cca;
}

.text {
  font-size: 14px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
	display: flex;
	align-items: center;
	gap: 20px;
}

.count {
  @include fontFamily(Ubuntu);
  font-size: 18px;
  font-weight: 600;
  color: #3579f3;
}

.sort_select {
	background: #F6F8F9 !important;
	border: 1px solid #D0E2FA !important;
	
	padding-left: 40px !important;
}

.icon {
	position: relative;
	display: flex;
	align-items: center;

	& > svg {
		position: absolute;
		left: 10px;
		z-index: 99999;
	}
}