.wrapper{
  display: none !important;
  &:global(.MuiInputBase-root){
  width: 180px;
  border: none;
  padding: 14px;
  p{
    font-size: 14px;
  }
  }
}
.rooms_filter{
  display: block;
  .text{
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .active{
    color: white;
    background-color: #377dfc !important;
  }
  .rooms{
    display: flex;
    gap: 10px;
    .room{
      border: none;
      font-size: 14px;
      font-family: Ubuntu, sans-serif;
      cursor: pointer;
      padding: 10px 16px;
      border-radius: 6px;
      background-color: #F6F8F9;
    }
  }
}

