@import "src/core/styles/common";

.info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 16px;
  margin-top: 14px;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
