.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #D0E2FA;
  border-radius: 8px;
  background-color: #f6f8f9;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 60px;
  height: 28px;
  &:hover {
    // background-color: #f0f0f0;
    border-color: #127cca;
  }
}
